:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
}

:where(
    .unframer h1,
    .unframer h2,
    .unframer h3,
    .unframer h4,
    .unframer h5,
    .unframer h6,
    .unframer p,
    .unframer figure
) {
    margin: 0;
}

:where(.unframer) {
    line-height: normal;
}

:where(
    .unframer,
    .unframer input,
    .unframer textarea,
    .unframer select,
    .unframer button
) {
    font-size: 12px;
    font-family: sans-serif;
}
