/* This css file contains your color variables, sometimes these get desynced when updated in Framer so it's good that you copy and paste this snippet into your app css */
/* Bug: https://www.framer.community/c/bugs/color-style-unlinks-when-copying-component-between-projects-resulting-in-potential-value-discrepancy */
:root {
    /* Used by card.js */
    --token-700a1961-c2b8-4f37-ad37-e3c28ea0fc93: rgba(34, 34, 34, 0.1); 
    --token-8c47652b-dea5-4767-a9f2-5d952dcce49a: rgb(255, 255, 255); 
    --token-58a904ff-197a-49b3-8356-adaa464e1642: rgba(255, 255, 255, 0.12); 
    --token-fae2c128-35fb-45de-a6c2-32169f920c68: rgb(13, 13, 13); 
    /* Used by GrowthSpaceMenu.js */
    --token-1ad6363d-c005-48a9-9ce6-23ed24e0178e: rgb(24, 23, 23); 
    --token-aa36031d-f65f-4636-8896-254cc08330fb: rgb(245, 243, 240); 
    /* Used by footer.js */
    --token-33722da1-56ef-4815-82ed-442105eb06b1: #000000; /* Named as "Black" in Framer. Also seen as rgb(0, 0, 0). */
    --token-3a259a41-0d00-4102-a2f3-6fc26ea1e8f1: #737373; /* Also seen as rgb(115, 115, 115). */
    --token-479b6b4d-3d07-497b-97b0-0d6ab5f0ea7d: rgb(212, 212, 212); 
    --token-6145797c-db14-4e39-8951-2131725399fb: rgb(163, 163, 163); 
    /* Used by fylo.js */
    --token-bb315df6-c2cd-4c31-805d-6d1891fd5658: #101942; /* Named as "Space" in Framer. Also seen as rgb(16, 25, 66). */
    --token-8bf6d357-6f97-4b36-9b48-c398e1a81f28: rgb(150, 55, 78); /* Named as "Amaranth" in Framer. */
    --token-c5dba3e8-a617-4220-8bf7-b36ab38ac589: rgb(69, 164, 176); /* Named as "Moonstone" in Framer. */
    --token-99545d54-94e2-40c6-a83a-7a0b21f2cb8c: rgb(210, 216, 232); /* Named as "Lavendar" in Framer. */
    --token-67b50491-f6a9-41d1-8457-d6676b88b0fb: rgb(108, 223, 239); /* Named as "Electric" in Framer. */
    --token-800ccd72-4302-43ed-8d67-0e06f1a5b359: rgb(232, 173, 166); /* Named as "Melon" in Framer. */
    --token-73c02931-d7f7-4ef9-bb83-00d2076801a3: rgb(245, 122, 41); /* Named as "Amber" in Framer. */
    --token-e822dd2c-d150-4a11-98b6-5a9a4e20fdc0: rgb(156, 93, 229); /* Named as "Amethyst" in Framer. */
    --token-67c2bbe6-d0ed-466b-8293-294df87a6675: rgb(205, 93, 204); /* Named as "Orchid" in Framer. */
    /* Used by hero.js, pricing.js, testimonials.js */
    --token-67c1333b-4249-4ff1-a333-3581964020b4: #ffffff; /* Also seen as rgb(255, 255, 255). */
    --token-c97db126-8e49-4dfa-8a8a-566d4fa3e425: #000000; /* Also seen as rgb(0, 0, 0). */
    /* Used by hero.js */
    --token-6b0f6268-7b27-460d-9b70-67f2c49e8da5: rgb(242, 199, 41); 
    /* Used by hero.js, pricing.js */
    --token-64603892-5c8b-477a-82d6-e795e75dd5dc: rgb(12, 64, 233); /* Named as "Orange" in Framer. Also seen as rgb(23, 116, 242), rgb(255, 79, 0). */
    /* Used by logos.js */
    --token-15fc6ab8-c2ea-472c-853a-fd5eab1ecf4a: rgba(10, 10, 13, 0.6); 
    /* Used by pricing.js, testimonials.js */
    --token-19c4737c-eef7-4396-b22a-028772ac270e: rgba(0, 0, 0, 0.1); /* Named as "Outline" in Framer. */
    --token-eefc1276-32c2-4c77-8e03-3e6e9899c005: rgba(0, 0, 0, 0.6); 
    /* Used by full-page.js */
    --token-40c03004-286a-43c1-b36f-58b60663152c: rgb(242, 242, 242); 
    --token-fb4b67b5-91ba-4b73-b4a6-f55417ea1c0c: rgb(102, 102, 102); 
    --token-b9c3c957-2c66-49c4-9732-fa196fddac20: rgb(0, 17, 34); 
    --token-fcce9699-25b1-4529-9491-d24458dec076: rgb(103, 102, 255); 
    --token-6e365f09-eb16-423f-93f7-5f3b4b83d578: rgb(255, 204, 34); /* Named as "Yellow" in Framer. */
}