@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

html {
    /* Used by fylo.js */
    --token-bb315df6-c2cd-4c31-805d-6d1891fd5658: #101942;
    --token-8bf6d357-6f97-4b36-9b48-c398e1a81f28: rgb(150, 55, 78);
    --token-c5dba3e8-a617-4220-8bf7-b36ab38ac589: rgb(69, 164, 176);
    /* Used by hero.js, pricing.js */
    --token-67c1333b-4249-4ff1-a333-3581964020b4: #ffffff;
    /* Used by hero.js */
    --token-6b0f6268-7b27-460d-9b70-67f2c49e8da5: rgb(242, 199, 41);
    /* Used by hero.js, pricing.js, testimonials.js */
    --token-c97db126-8e49-4dfa-8a8a-566d4fa3e425: #000000;
    /* Used by pricing.js, testimonials.js */
    --token-19c4737c-eef7-4396-b22a-028772ac270e: rgba(0, 0, 0, 0.1);
    /* Used by full-page.js */
    --token-40c03004-286a-43c1-b36f-58b60663152c: rgb(242, 242, 242);
    /* Used by pricing.js */
}
